{% extends "registration/base.html" %}
{% load bootstrap4 %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default" style="margin-top: 80px;">

        <div class="panel-heading">
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
          {% csrf_token %}
          {% bootstrap_form form%}

          <div class="form-group">
                <button type="submit" name="button" class="btn">Login</button>
          </div>

          <input type="hidden" name="next" value="/">

        </form>

       
          <a href="/accounts/password/change">Change Password</a>
      

        <a href="/accounts/register/">Register Here</a>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
  </div>
  </div>
{% endblock %}
