$primary-color:rgb(0, 175, 228) ;

h1 {
    color: $primary-color;
}

body  {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

* {
    font-family: 'Raleway', sans-serif;
}
.navbar-header {
    a {
        text-transform: uppercase;
        color: $primary-color;
        font-size: 1.5em;
    }
}

.sources {
    .col-lg-6 {
        margin-bottom: 1.5em;
        h3 {
            font-weight: 100;
        }
       .read-more-link {
           font-size: 1.3em;
           color: $primary-color;
           a {
            color: $primary-color;
            text-decoration: none;
           }
       }
    }
}

.articles {
    .col-lg-6 {
        margin-bottom: 3em;
       .read-more-link {
           font-size: 1.3em;
           color: $primary-color;
           a {
            color: $primary-color;
            text-decoration: underline;
           }
       }
    }
}

.links {
    ul {
        display: flex;
        margin-top: 0.7em;
        li {
            list-style: none;
            font-size: 1.2em;
            flex-direction: row;
            display: inline-block;
            margin-right: 0.5em;
            padding: 0.9em 1em;
            a {
                text-decoration: none;
                color: $primary-color;
            }
        }
        li:nth-child(2) {
            background-color: $primary-color;
            padding: 0.9em 1em;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}



.panel-body {

    label {
        color: #fff;
    }
    .signupform {
        .form-control {
          border: none;
          border-bottom: 1px solid $primary-color;
          width: 80%;
          margin-bottom: 2.5rem;
          outline: none;
          color: $primary-color;
          border-radius: 0.01em;
          &:focus {
            border-color:  #000;
            -webkit-box-shadow: none;
            box-shadow: none;
            width: 50%;
            transition: width 0.7s ease-out;
          }
        }
    
        button {
          color: #fff;
          background-color: $primary-color;
          border-radius: none;
          padding: 1.1em 0.9em;
          font-size: 1.1em;
          font-weight: 700;
          margin-bottom: 1em;
          &:hover {
            color: $primary-color;
            background: #fff;
            border: 1px solid $primary-color;
            transition: all 0.1s ease-in;
          }
        }
      }
    
      ::placeholder {
        color: $primary-color !important;
      }
}

.registration-button {
        color: #ffa;
          background-color: $primary-color;
          border-radius: none;
          padding: 0.8em 0.7em;
          outline: none;
          border: none;
          font-size: 1.1em;
          font-weight: 700;
          margin-bottom: 1em;
          cursor: pointer;
}
