    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="{% url 'sources' %}"class="navbar-brand">News Show</a>
        </div>

        {% if user.is_authenticated%}
                <ul>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                  {% else %}

                  <li>
                    <a class='btn btn-default' href="{% url 'articles' %}">Articles</a>
                  </li>
            <li>
             <a class='btn btn-default' href="/accounts/login">Login</a>
           </li>
           <li>
            <a class='btn btn-default' href="/accounts/register">Sign Up</a>
           </li>
           {%endif%}
     <ul/>
    </nav>
