{% extends 'base.html' %} {% block content %} {{block.super}}

<div class="">
  <div class="row sources">
    {% for source in sources_articles %}

    <div class="col-lg-6">
      <h1 class="text-center">
        <a href="{{ source.url }}" target="_blank" style="color: #00afe4"> {{source.name}} </a>
        </h1>
      <h4 class="text-center">
        Story from: <strong>{{source.country|upper}}</strong>
      </h4>

      <h5 class="text-center">Biggest Headlines</h5>

      {% for headline in top_headlines %} 
      {%if headline.source.id == source.id %}
        {% if headline.author %}
                <p class="text-center">AUTHOR: <strong> {{ headline.author }} </strong></p>
                {% else %}
                <p class="text-center">AUTHOR: <strong> {{ headline.source.name }} </strong></p>
      {% endif %}

      <p class="text-center"><strong>Title:</strong> {{headline.title}}</p>
      <p class="articles-description text-center">
        <strong>Description: </strong>{{headline.description}}
      </p>

      <div class="read-more-link text-center">
        <a href="{{ headline.url }}" target="_blank"> Read More </a>
      </div>

      {% endif %} {% endfor %}
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}
